
body{
	font-family: Avenir;
}
.doctor-grid .fa-unsorted:before, .doctor-grid .fa-sort:before{
	color: red;
}

.doctor-grid .text-box{
	margin-bottom: 50px;
}

.headline {
    padding-top: 10px;
    font-weight: 800;
    font-size: 20px;
}
.block{
	display: block;
	padding-left: 10px;
}

.doctor-grid thead th:nth-of-type(3), .doctor-grid thead th:nth-of-type(4){
	text-align: center;
}

.doctor-grid tbody td:nth-of-type(3), .doctor-grid tbody td:nth-of-type(4){
	text-align: center;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 480px) {
  
}
